*{
    margin:0%;
    padding:0%;
}
body{
    background-color: lightgoldenrodyellow;
    height: 100vw;
    width: 100vh;
    overflow:hidden;
}
h1{
    color:brown;
    font-size: xx-large;
    text-align:center;
    padding:50px;
}
div{
    margin:20px;
    padding:20px;
    border:5px solid;
}
figure{
    margin:20px;
    border :5px;
    border-color: black;
}
figcaption{
    padding:10px;
    border:5px;
    border-color: black;
    background-color:peru;
    width:200px;
    /* height:200px; */ 
    text-align: center;
    margin-left: 170px;
}
/* .box{
    background-color:burlywood;
    display: flex;
    border:2px solid;
    padding:50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin:150px;
}
.item{
    border:2px solid;
    padding: 50px;
    text-align: center;
    justify-content: center;
    align-self:center;
} */
div~figcaption{                    /*general child combinator (~) */
    align-self: center;
}
img:hover{
    background-color: rgb(70, 68, 68);
}
form{
    text-align: center;
}
a{
    align-items: center;
}
button{
    min-width:100px;
    max-height:100px;
}